<br>
<p class="text-light">Speak your mind, share your knowledge and tell us "the word on these steets"! </p>
<form class="text-light" [formGroup]="userMessage" (ngSubmit)="onSubmit()" >
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" formControlName="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">We look forward to reading your message!</label>
        <textarea formControlName="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-info" type="submit" value="Submit">Submit</button>
</form>