<div *ngIf="POI">
    <div class="card mb-3 bg-dark text-light">
        <img src={{POI.img}} class="card-img mx-auto mt-4" alt={{POI.name}}>
        <div class="card-body">
            <h2 class="card-title text-center">{{ POI.name }}</h2>
            <p class="card-text text-center">{{POI.date}}</p>
            <p class="card-text"[innerHTML]="POI.description"></p>
            
            <p class="card-text"><small class="text-muted">Article posted on {{POI.inserted}} by {{POI.user}}. </small></p>
        </div>
    </div>
</div>